.Album {
  .Comments {
    max-width: 776px;
    width:80%;
    margin: 0 auto;
    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      & > span {
        color: $lightgrey;
        letter-spacing: 0.6px;
        font-size: 14px;
      }
      button {
        padding-right: 0px;
        text-align: right;
        span.icon {
          display: inline-block;
          border-radius: 26px;
          height: 26px;
          width: 26px;
          line-height: 26px;
          background: $black;
          color: $shamrock-green;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}