<div ng-if="$ctrl.model" class="Album">
  <album-list-item model="$ctrl.model" show-back="true"></album-list-item>
  <div class="Comments">
    <div class="Comments__actions">
      <span>COMMENTS</span>
      <button role="button" ng-click="$ctrl.toggleCommentPanel()" class="btn btn-transparent">
        <span ng-if="!$ctrl.newComment">
          Add Comment <span class="icon">+</span>
        </span>
        <span ng-if="$ctrl.newComment"><span class="icon">x</span></span>
      </button>
    </div>
    <comment-entry on-save="$ctrl.saveComment($comment)" ng-if="$ctrl.newComment"></comment-entry>
    <div ng-if="$ctrl.comments" ng-repeat="comment in $ctrl.comments">
      <comment model="comment"></comment>
    </div>
  </div>
</div>