<div class="Comment">
  <div class="Comment__avatar">
    <img ng-src="{{::$ctrl.model.avatar}}" />
  </div>
  <div class="Comment__body">
    <span class="Comment__body__email" ng-bind="::$ctrl.model.email"></span>
    <p ng-bind="::$ctrl.model.text"></p>
  </div>
</div>