.Comment {
  display:flex;
  margin-bottom: 1em;
  background: $black;
  padding: 1em;
  &__avatar {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    img {
      border-radius: 100px;
      width: 50px;
    }
  }
  &__body {
    letter-spacing: 0.2px;
    padding-top: .5em;
    overflow: hidden;
    span {
      color: $lightgrey;
      display: block;
      font-size:12px;
    }
    p {
      color: $white;
      font-size: 14px;
      margin: 5px 0em;
    }
  }
}