<form ng-submit="$ctrl.handleSubmit()" class="CommentEntry">
  <input ng-model="$ctrl.comment.email" type="text" placeholder="e-mail"/>
  <textarea ng-model="$ctrl.comment.text" placeholder="Write your comment"></textarea>
  <button type="submit" class="btn btn-rounded">Add</button>
</form>