.CommentEntry {
  padding: 1em calc( 50px + 2em ); 
  display: flex;
  flex-direction: column;
  background: $black;
  margin-bottom: 1em;
  button {
    align-self: flex-end;
  }
}

@import './CommentEntry.mobile';