album-list-item {
  width:100%;
}

.AlbumListItem {
  width:80%;
  max-width: 776px;
  height: 180px;
  background-image: linear-gradient(to left, rgba(40, 40, 40, 0.85), $black);
  display:flex;
  margin: 0em auto 1em auto;
  
  &__cover {
    width: 180px;
    height:180px;
    flex-grow: 0;
    flex-shrink: 0;
    background: grey;
    img {
      width: 100%;
    }
  }
  
  &__info {
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    &__name {
      margin: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $white;
      font-size: 46px;
      text-decoration: none;
    }
    &__artist {
      display: flex;
      font-size: 12px;
      text-transform: uppercase;
      color: #a0a097;
      letter-spacing: 0.5px;
      span {
        margin-right: .5em;
        &::last-child {
          margin-right: 0em;
        }
      }
    }
    &__actions {
      align-self: flex-end;
      display: flex;
      width:100%;
      align-items: center;
      justify-content: space-between;
      a {
        span {
          width:30px;
          height: 30px;;
          background-color: $darkgrey;
          border-radius: 30px;
        }
      }
    }
  }
}

@import 'AlbumListItem.mobile';