<article class="AlbumListItem">
  <div class="AlbumListItem__cover">
    <img ng-src="{{::$ctrl.coverImage.url}}" />
  </div>
  <div class="AlbumListItem__info">
    <header>
      <h2 class="AlbumListItem__info__artist">
        <span ng-repeat="artist in $ctrl.model.artists">{{::artist.name}}</span>
      </h2>
      <h1 class="AlbumListItem__info__name" ng-bind="::$ctrl.model.name" />
    </header>
    <div class="AlbumListItem__info__actions">
      <a target="_blank" ng-href="{{::$ctrl.model.external_urls.spotify}}" /><span></span>Listen on spotify</a>
      <button ng-if="!$ctrl.showBack" class="btn btn-rounded" ng-click="$ctrl.viewComments($event)" >View comments</button>
      <button ng-if="$ctrl.showBack" class="btn btn-rounded" ng-click="$ctrl.goBack()" >Back to search</button>
    </div>
  </div>
</article>