// MOBILE STYLES
@media screen and (max-width: $s-xs) {
  .AlbumListItem {
    height: auto;
    flex-direction: column;
    &__cover {
      width:100%;
      text-align: center;
      height: auto;
      padding: 1em 0px;
      img {
        width: 132px;
        height: 132px;
      }
      .Album  & {
        display: none;
      }
    }
    &__info {
      header {
        h1 {
          font-size:30px;
          margin-bottom: 1rem;
        }
      }
      &__actions {
        align-items: flex-start;
        flex-direction: column;
        a {
          display:block;
          margin-bottom: 1em;
        }
        button {
          margin-top: 1em;
          align-self: center;
        }
      }
    }
  }
}