Search, .Search {
  width: 100%;
  text-align: center;
}

.Search {
  input {
    border-radius: 40px;
    background-color: #ffffff;
    border: 0px;
    width:80%;
    max-width: 1006px;
    padding-left: 1em;
    height: 24px;
    margin: 0px;
    color: $darkgrey;
  }
}