// Import from npm
@import 'normalize.css';
@import 'styles/base/variables';
@import 'styles/base/buttons';
@import 'styles/base/inputs';
@import 'styles/base/breakpoints';

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $bg-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  a {
    color: $shamrock-green;
    text-decoration: none;
    &:hover { text-decoration:  underline; }
  }
}

@import './common/common';
@import './components/components';
@import './shell/Shell';