.btn {
  letter-spacing: 0.5px;
  padding: .5em 1.5em;
  cursor: pointer;
  min-width: 90px;
}

.btn-rounded {
  border-radius: 40px;
  background-color: rgba(31, 31, 31, 0.7);
  border: solid 1px $shamrock-green;
  color: white;
  text-transform: uppercase;
}

.btn-transparent {
  background: none;
  border: 0px;
  color: $shamrock-green;
}